body {
  background-color: rgb(227, 224, 224);
  color: rgb(40, 40, 86);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  margin-top: 10px;
  width: 90px;
}

button {
  margin-top: 10px;
}

table, tr, th, td {
  border: solid 1px black;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, tr {
  width: 160px;
}

h1 {
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
}

h4 {
  width: 650px;
}

p {
  width: 650px;
}